
body {
    margin-top: 30px;

    text-align-last: center;
    text-align: justify;
    
    font: 18px Times new Ruman;
}

body h2{
    text-align:center;
    
}

body p strong{
    text-align:center;
    
}

body h3{
    text-align:justify;
        
 }

header div img{
    height: 200px;
    padding: 30px;
    cursor: pointer;
    
    }
    
header p{
    text-align:justify;
    font: 16px Times New Roman;
    display: flex;   
    }
   
    
.plan1 {
        background: repeating-linear-gradient(black, gold, greenyellow, black);
	width:360px;
	border:1px darkgoldenrod;	
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	box-shadow:inset 0 0 10px white;
	margin:10px;
        margin-left: 10px;
        text-align: right;
        text-decoration: #aaaa26;
        border-radius: 20px;
        box-shadow: 20px 20px 10px grey;
}

.plan2 {
        background: repeating-linear-gradient(black, gold, greenyellow, black);
	width:360px;
	border:1px darkgoldenrod;	
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	box-shadow:inset 0 0 10px white;
	margin:10px;
        margin-left: 10px;
        text-align: right;
        text-decoration: #aaaa26;
        border-radius: 20px;
        box-shadow: 20px 20px 10px grey;
}

.plan3 {
        background: repeating-linear-gradient(black, gold, greenyellow, black);
	width:360px;
	border:1px darkgoldenrod;	
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	box-shadow:inset 0 0 10px white;
	margin:10px;
        margin-left: 10px;
        text-align: right;
        text-decoration: #aaaa26;
        border-radius: 20px;
        box-shadow: 20px 20px 10px grey;
}

.plan4 {
        background: repeating-linear-gradient(black, gold, greenyellow, black);
	width:360px;
	border:1px darkgoldenrod;	
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	box-shadow:inset 0 0 10px white;
	margin:10px;
        margin-left: 10px;
        text-align: right;
        text-decoration: #aaaa26;
        border-radius: 20px;
        box-shadow: 20px 20px 10px grey;
}

.plan5 {
        background: repeating-linear-gradient(black, gold, greenyellow, black);
	width:360px;
	border:1px darkgoldenrod;	
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	box-shadow:inset 0 0 10px white;
	margin:10px;
        margin-left: 10px;
        text-align: right;
        text-decoration: #aaaa26;
        border-radius: 20px;
        box-shadow: 20px 20px 10px grey;
}

.plan6 {
        background: repeating-linear-gradient(black, gold, greenyellow, black);
	width:360px;
	border:1px darkgoldenrod;	
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	box-shadow:inset 0 0 10px white;
	margin:10px;
        margin-left: 10px;
        text-align: right;
        text-decoration: #aaaa26;
        border-radius: 20px;
        box-shadow: 20px 20px 10px grey;
}

.fondo {
    margin-right: 600px;
    border-radius: 20px;
}
