
body {
    text-align: center;
    text-justify: auto;
    background-position:left;
        
}

header div img{
    height: 200px;
    padding: 30px;
    cursor: pointer;
    
    }
header p{
    text-align:center;
    
    }

.plan1 {
        background:#fff;
	width:360px;
	border:1px darkgoldenrod;	
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	box-shadow:inset 0 0 10px greenyellow;
	margin:10px;
        margin-left: 10px;
        text-align: right;
        text-decoration: #aaaa26;
    
}

.plan2 {
        background:#fff;
	width:360px;
	border:1px darkgoldenrod;	
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	box-shadow:inset 0 0 10px greenyellow;
	margin:10px;
        margin-left: 10px;
        text-align: right;
}

.plan3 {
        background:#fff;
	width:360px;
	border:1px darkgoldenrod;	
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	box-shadow:inset 0 0 10px greenyellow;
	margin:10px;
        margin-left: 10px;
        text-align: right;
}

.plan4 {
        background:#fff;
	width:360px;
	border:1px darkgoldenrod;	
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	box-shadow:inset 0 0 10px greenyellow;
	margin:20px;
        margin-left: 10px;
        text-align: right;
}

.plan5 {
        background:#fff;
	width:360px;
	border:1px darkgoldenrod;	
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	box-shadow:inset 0 0 10px greenyellow;
	margin:20px;
        margin-left: 10px;
        text-align: right;
}

.plan6 {
        background:#fff;
	width:360px;
	border:1px darkgoldenrod;	
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	box-shadow:inset 0 0 10px greenyellow;
	margin:20px;
        margin-left: 10px;
        text-align: right;
}
